@import "tailwindcss";
@import "@repo/tailwind-config";

/* body {
    overflow: hidden;;
} */

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }